<div class="mt-4 course-detail-page">
    <div class="row d-flex flex-row-reverse">
        <div class="col-lg-4 col-12 pb-3 py-lg-5">
            <div class="author-container p-3 rounded shadow-lg">
                <div class="py-2">
                    <span class="font-italic text-black">By:</span>
                    <img class="rounded-circle" src="/images/{{course.createdBy.avatar}}" alt="avatar">
                    <span class="font-weight-bold">{{course.createdBy.name}}</span>
                </div>
                <div class="font-italic py-2 text-black">At: {{dateTransform course.createdAt}}</div>
            </div>
        </div>
        <div class="col-lg-8 col-12 ">
            <h2 class="title">{{course.name}}</h2>
            <iframe width="100%" height="450" src="https://www.youtube.com/embed/{{course.videoId}}" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
            <div><span class="font-italic">Mô tả: </span>{{course.description}}</div>
        </div>
    </div>
</div>