<div class="mt-3">
    <a href="/me/store/blogs">Quay lại Video của tôi</a>
    <h1>Blog đã xóa</h1>
    <table class="table mt-3 table-blogs">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tiêu đề</th>
                <th scope="col">Nội dung</th>
                <th scope="col">Ngày đăng</th>
                <th scope="col"></th>
            </tr>
            </tr>
        </thead>
        <tbody>
            {{#each blogs}}
            <tr>
                <td scope="row">{{sum @index 1}}</td>
                <td>{{this.title}}</td>
                <td>{{this.content}}</td>
                <td>{{dateTransform this.createdAt}}</td>
                <td>
                    <a href="javascript:void(0);" class="mr-3 btn-restore" data-id="{{this._id}}">
                        Khôi phục
                    </a>
                    <a href="javascript:void(0);" data-id="{{this._id}}" data-toggle="modal"
                        data-target="#forceBlogModal">Xóa</a>
                </td>
            </tr>
            {{else}}
            <tr></tr>
            <tr class="empty-row">
                <td colspan="5" class="text-center">
                    Thùng rác trống.
                    <a href="/blog/create">Thêm mới blog</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- FORM HIDDEN force --}}
<form id="form-force-blog"></form>

{{!-- FORM HIDDEN restore --}}
<form id="form-restore-blog"></form>

<!-- Modal -->
<div class="modal fade" id="forceBlogModal" tabindex="-1" role="dialog" aria-labelledby="forceBlogModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="forceBlogModalLabel">Xóa blog vĩnh viễn</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Thao tác này sẽ không thể phục hồi!
                </p>
            </div>
            <div class="modal-footer">
                <button id="confirm-delete-blog-btn" type="button" class="btn btn-danger">Xác nhận</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const formForceBlog = $('#form-force-blog');
        const formRestoreBlog = $('#form-restore-blog');
        const restoreBtn = $('.btn-restore');
        var idBlog;

        $('#forceBlogModal').on('show.bs.modal', function (event) {
            const button = $(event.relatedTarget);
            idBlog = button.data('id');
        });

        $('#confirm-delete-blog-btn').click(() => {
            formForceBlog.attr('method', 'POST');
            formForceBlog.attr('action', `/blog/${idBlog}/force?_method=DELETE`);
            formForceBlog.submit();
        });

        restoreBtn.click((e) => {
            let id = e.target.dataset.id
            formForceBlog.attr('method', 'POST');
            formForceBlog.attr('action', `/blog/${id}/restore?_method=PATCH`);
            formForceBlog.submit();
        })

    });
</script>